layout {
    cwd "$ZELLIJ_CWD"
    tab name="Work" focus=true hide_floating_panes=true {
        pane split_direction="vertical" {
            pane size="80%" split_direction="horizontal" {
                pane command="nvim" size="80%" {
                    start_suspended true
                }
                pane command="zsh" size="20%" {
                    start_suspended true
                }
            }
            pane command="pi" size="20%" {
                start_suspended true
            }
        }
        pane size=1 {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="Notes" hide_floating_panes=true cwd="$ZELLIJ_NOTES_CWD" {
        pane split_direction="horizontal" {
            pane command="pi" size="80%" {
                start_suspended true
            }
            pane command="zsh" size="20%" {
                start_suspended true
            }
        }
        pane size=1 {
            plugin location="zellij:compact-bar"
        }
    }
}
