snippet depi
private readonly ${1:IService} ${2:_service};

protected $1 ${3:Service} { get { return $2; } }
endsnippet

snippet depc
if(${1:service} == null)
{
	throw new ArgumentNullException("$1", "Dependency \`$1\` is required.");
}

${2:_service} = $1;
endsnippet
